In [92]:
# Import relevant data libraries

import pandas as pd
from pathlib import Path
import yfinance as yf
from datetime import datetime,timedelta

In [93]:
# Read csv into DataFrame

transactions_df = pd.read_csv("Resources/Transactions.csv", parse_dates=True, infer_datetime_format=True)

In [94]:
#Review DataFrame

transactions_df.head()

         Date  Amount Currency Transaction
0  2021-08-07       1      BTC         BUY
1  2021-08-08       5      ETH         BUY
2  2021-08-08      20      SOL         BUY
3  2021-08-11      15      SOL        SELL

In [95]:
# Create column to fill in transactions values in AUD

transactions_df['Price'] = 0
transactions_df['Transaction Value (AUD)'] = 0
transactions_df.head()

         Date  Amount Currency Transaction  Price  Transaction Value (AUD)
0  2021-08-07       1      BTC         BUY      0                        0
1  2021-08-08       5      ETH         BUY      0                        0
2  2021-08-08      20      SOL         BUY      0                        0
3  2021-08-11      15      SOL        SELL      0                        0

In [100]:
# Get prices and multiply by amount transacted + fill into table

def get_price(date,currency):
    pair=currency+"-AUD"
    data = yf.download(pair,date,date + timedelta(days=1))
    display(data.iloc[0,4])
    return data.iloc[0,4]

for index, row in transactions_df.iterrows():
    date = datetime.strptime(row["Date"],'%Y-%m-%d')
    currency=row["Currency"]
    amount=row["Amount"]
    price=row["Price"]
    transactions_df.loc[index,"Price"]=get_price(date,currency)
    transactions_df.loc[index,"Transaction Value (AUD)"]=get_price(date,currency)*amount

[*********************100%***********************]  1 of 1 completed

58206.24609375

[*********************100%***********************]  1 of 1 completed

58206.24609375

[*********************100%***********************]  1 of 1 completed

4293.05224609375

[*********************100%***********************]  1 of 1 completed

4293.05224609375

[*********************100%***********************]  1 of 1 completed

53.57883071899414

[*********************100%***********************]  1 of 1 completed

53.57883071899414

[*********************100%***********************]  1 of 1 completed

55.339942932128906

[*********************100%***********************]  1 of 1 completed

55.339942932128906

In [101]:
# Review DataFrame

transactions_df.head()

,Date,Amount,Currency,Transaction,Price,Transaction Value (AUD)
0,2021-08-07,1,BTC,BUY,58206.246094,58206.246094
1,2021-08-08,5,ETH,BUY,4293.052246,21465.261230
2,2021-08-08,20,SOL,BUY,53.578831,1071.576614
3,2021-08-11,15,SOL,SELL,55.339943,830.099144

In [102]:
# Calculate capital gains

for currency in transactions_df:
    if currency in sell == currency in buy



    
# Copied from portfolio view.ipynb
last_date=0
summary_portfolio_df = pd.DataFrame(columns=['Currency','Amount'])
summary_portfolio_df.set_index('Currency',inplace=True)
daily_portfolio = pd.DataFrame(columns=['Date','AUD'])

for index, row in transactions_df.iterrows():
    #parse the row
    date = datetime.strptime(row['Date'], '%Y-%m-%d')

    if row['Transaction'] == 'SELL':
        amount = -row['Amount']
    else:
        amount = row['Amount']
        
    if not currency in summary_portfolio_df.index:
        new_row = pd.DataFrame({'Currency':[currency], 'Amount':[amount]})
        new_row.set_index('Currency',inplace=True)
        summary_portfolio_df = pd.concat([summary_portfolio_df,new_row])
    else:
        summary_portfolio_df.loc[currency, 'Amount'] += amount

SyntaxError: invalid syntax (756554881.py, line 4)

In [76]:
## Create tax calculator for Australian Tax Brackets

# 2022/23 Australian income tax brackets and tax rates

bracket1=18200
bracket2=45000
bracket3=120000
bracket4=180000
rate1=0.19
rate2=0.325
rate3=0.37
rate4=0.45

In [77]:
# User Input
x = int(input('Enter taxable income + capital gains: '))

def inc_tax (x):
    '''calculates tax based on income enterd'''
    if x<=bracket1:
        return 0
    elif x<=bracket2:
        return (x-bracket1)*rate1
    elif x<=bracket3:
        return (x-bracket2)*rate2+(bracket2-bracket1)*rate1
    elif x<=bracket4:
        return (x-bracket3)*rate3+(bracket3-bracket2)*rate2+(bracket2-bracket1)*rate1
    elif x>bracket4:
        return (x-bracket4)*rate4+(bracket4-bracket3)*rate3+(bracket3-bracket2)*rate2+(bracket2-bracket1)*rate1

Enter taxable income + capital gains:  105000

In [79]:
# Show results

print('Net Income: ')
print(x-inc_tax(x))
print(' ')
print('Tax Paid: ') 
print(inc_tax(x))
print(' ')
print('Effective Tax Rate: ')
print(inc_tax(x)/x)

Net Income:
80408.0

Tax Paid:
24592.0

Effective Tax Rate:
0.2342095238095238