In [335]:
# Import relevant data libraries

import pandas as pd
from pathlib import Path
import yfinance as yf
from datetime import datetime,timedelta

In [336]:
# Read csv into DataFrame

transactions_df = pd.read_csv("Resources/eth_transactions.csv")

In [337]:
#Review DataFrame

transactions_df.head()

   Unnamed: 0            timestamp currency  amount
0           0  2022-11-22 13:31:27      ETH      10
1           0  2022-11-22 13:31:36      ETH       0
2           0  2022-11-22 13:31:40      ETH       0
3           0  2022-11-22 13:31:43      ETH      10
4           0  2022-11-22 13:32:20      ETH       0

In [338]:
# Create column to fill in transactions values in AUD

transactions_df['price'] = 0
transactions_df['transaction value'] = 0
transactions_df.head()

   Unnamed: 0            timestamp currency  amount  price  transaction value
0           0  2022-11-22 13:31:27      ETH      10      0                  0
1           0  2022-11-22 13:31:36      ETH       0      0                  0
2           0  2022-11-22 13:31:40      ETH       0      0                  0
3           0  2022-11-22 13:31:43      ETH      10      0                  0
4           0  2022-11-22 13:32:20      ETH       0      0                  0

In [339]:
# Get prices and multiply by amount transacted + fill into table

def get_price(date,currency):
    pair=currency+"-AUD"
    data = yf.download(pair,date,date + timedelta(days=1))
    display(data.iloc[0,4])
    return data.iloc[0,4]

transactions_df["date"]=transactions_df["timestamp"].str[:10]

for index, row in transactions_df.iterrows():
    date = datetime.strptime(row["date"],'%Y-%m-%d')
    currency=row["currency"]
    amount=row["amount"]
    price=row["price"]
    transactions_df.loc[index,"price"]=get_price(date,currency)
    transactions_df.loc[index,"transaction value"]=get_price(date,currency)*amount

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1677.3814697265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

[*********************100%***********************]  1 of 1 completed

1707.5845947265625

In [330]:
# Review DataFrame

transactions_df

,Unnamed: 0,timestamp,currency,amount,price,transaction value,date
0,0,2022-11-22 13:31:27,ETH,10,1677.381470,16773.814697,2022-11-22
1,0,2022-11-22 13:31:36,ETH,0,1677.381470,0.000000,2022-11-22
2,0,2022-11-22 13:31:40,ETH,0,1677.381470,0.000000,2022-11-22
3,0,2022-11-22 13:31:43,ETH,10,1677.381470,16773.814697,2022-11-22
4,0,2022-11-22 13:32:20,ETH,0,1677.381470,0.000000,2022-11-22
5,0,2022-11-22 13:32:43,ETH,0,1677.381470,0.000000,2022-11-22
6,0,2022-11-22 18:45:33,ETH,-1,1677.381470,-1677.381470,2022-11-22
7,0,2022-11-22 18:46:33,ETH,-1,1677.381470,-1677.381470,2022-11-22
8,0,2022-11-22 18:57:24,ETH,-1,1677.381470,-1677.381470,2022-11-22
9,0,2022-11-22 19:01:29,ETH,-1,1677.381470,-1677.381470,2022-11-22
10,0,2022-11-23 13:31:27,ETH,-10,1707.584595,-17075.845947,2022-11-23
11,0,2022-11-23 13:31:27,ETH,0,1707.584595,0.000000,2022-11-23
12,0,2022-11-23 13:31:27,ETH,0,1707.584595,0.000000,2022-11-23
13,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
14,0,2022-11-23 13:31:27,ETH,0,1707.584595,0.000000,2022-11-23
15,0,2022-11-23 13:31:27,ETH,0,1707.584595,0.000000,2022-11-23
16,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
17,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
18,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
19,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23

In [331]:
# Split DataFrame between BUY's and SELL's

sell_df = transactions_df.loc[transactions_df["amount"]<0]
buy_df = transactions_df.loc[transactions_df["amount"]>0]
sell_df

,Unnamed: 0,timestamp,currency,amount,price,transaction value,date
6,0,2022-11-22 18:45:33,ETH,-1,1677.381470,-1677.381470,2022-11-22
7,0,2022-11-22 18:46:33,ETH,-1,1677.381470,-1677.381470,2022-11-22
8,0,2022-11-22 18:57:24,ETH,-1,1677.381470,-1677.381470,2022-11-22
9,0,2022-11-22 19:01:29,ETH,-1,1677.381470,-1677.381470,2022-11-22
10,0,2022-11-23 13:31:27,ETH,-10,1707.584595,-17075.845947,2022-11-23
13,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
16,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
17,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
18,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
19,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23

In [332]:
buy_df

,Unnamed: 0,timestamp,currency,amount,price,transaction value,date
0,0,2022-11-22 13:31:27,ETH,10,1677.38147,16773.814697,2022-11-22
3,0,2022-11-22 13:31:43,ETH,10,1677.38147,16773.814697,2022-11-22

In [333]:
tax_events_df = pd.DataFrame(columns=['sell date','return','cost base','net return'])
tax_events_df.head()

Empty DataFrame
Columns: [sell date, return, cost base, net return]
Index: []

In [334]:
for sell_index, sell_transaction in sell_df.iterrows():
    for buy_index, buy_transaction in buy_df.iterrows():
        if buy_transaction['currency'] == sell_transaction['currency']:
            
            # if buy transaction amount = sell transactions amount
            if buy_transaction['amount'] == -sell_transaction['amount']:
                new_row = pd.DataFrame({'sell date': [sell_transaction['date']], 'return': [-sell_transaction['transaction value']],'cost base': [-buy_transaction['transaction value']]})
                buy_df = buy_df.drop(index=buy_index)
                tax_events_df = pd.concat([new_row,tax_events_df])
            
            # if buy transaction amount > sell transactions amount
            elif buy_transaction['amount'] > -sell_transaction['amount']:
                cost_base = sell_transaction['amount']*buy_transaction['price']
                new_row = pd.DataFrame({'sell date': [sell_transaction['date']], 'return': [-sell_transaction['transaction value']],'cost base': [cost_base]})
                buy_df.at[buy_index,'amount'] = buy_transaction['amount'] + sell_transaction['amount']
                tax_events_df = pd.concat([new_row,tax_events_df])
            
            # if buy transaction amount < sell transactions amount
            
            elif buy_transaction['amount'] < -sell_transaction['amount']:
                sell_base = buy_transaction['amount']*sell_transaction['price']
                new_row = pd.DataFrame({'sell date': [sell_transaction['date']], 'return': [sell_base],'cost base': [-buy_transaction['transaction value']]})
                buy_df = buy_df.drop(index=buy_index)
                sell_transaction['amount'] = sell_transaction['amount'] + buy_transaction['amount']
                tax_events_df = pd.concat([new_row,tax_events_df])
                continue
            break 

tax_events_df['net return']=0

tax_events_df['net return'] = tax_events_df['return']+tax_events_df['cost base']

tax_events_df

    sell date        return     cost base    net return
0  2022-11-23   1707.584595  -1677.381470     30.203125
0  2022-11-23   1707.584595  -1677.381470     30.203125
0  2022-11-23   1707.584595  -1677.381470     30.203125
0  2022-11-23   1707.584595  -1677.381470     30.203125
0  2022-11-23   1707.584595  -1677.381470     30.203125
0  2022-11-23  17075.845947  -6709.525879  10366.320068
0  2022-11-23  10245.507568 -16773.814697  -6528.307129
0  2022-11-22   1677.381470  -1677.381470      0.000000
0  2022-11-22   1677.381470  -1677.381470      0.000000
0  2022-11-22   1677.381470  -1677.381470      0.000000
0  2022-11-22   1677.381470  -1677.381470      0.000000

In [321]:
buy_df

,Unnamed: 0,timestamp,currency,amount,price,transaction value,date
3,0,2022-11-22 13:31:43,ETH,1,1677.38147,16773.814697,2022-11-22

In [322]:
sell_df

,Unnamed: 0,timestamp,currency,amount,price,transaction value,date
6,0,2022-11-22 18:45:33,ETH,-1,1677.381470,-1677.381470,2022-11-22
7,0,2022-11-22 18:46:33,ETH,-1,1677.381470,-1677.381470,2022-11-22
8,0,2022-11-22 18:57:24,ETH,-1,1677.381470,-1677.381470,2022-11-22
9,0,2022-11-22 19:01:29,ETH,-1,1677.381470,-1677.381470,2022-11-22
10,0,2022-11-23 13:31:27,ETH,-10,1707.584595,-17075.845947,2022-11-23
13,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
16,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
17,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
18,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23
19,0,2022-11-23 13:31:27,ETH,-1,1707.584595,-1707.584595,2022-11-23

In [341]:
capital_gain = tax_events_df['net return'].sum()
capital_gain

3989.028564453125

In [342]:
#E Input taxable income 

salary = int(input('Enter taxable income'))

Enter taxable income 150000

In [344]:
# F) Add remainder of gain to taxable income

total_y = salary + capital_gain 
total_y

153989.02856445312

In [345]:
## Create tax calculator for Australian Tax Brackets

# 2022/23 Australian income tax brackets and tax rates

bracket1=18200
bracket2=45000
bracket3=120000
bracket4=180000
rate1=0.19
rate2=0.325
rate3=0.37
rate4=0.45

In [346]:
# User Input

def inc_tax (total_y):
    '''calculates tax based on income enterd'''
    if total_y<=bracket1:
        return 0
    elif total_y<=bracket2:
        return (total_y-bracket1)*rate1
    elif total_y<=bracket3:
        return (total_y-bracket2)*rate2+(bracket2-bracket1)*rate1
    elif total_y<=bracket4:
        return (total_y-bracket3)*rate3+(bracket3-bracket2)*rate2+(bracket2-bracket1)*rate1
    elif total_y>bracket4:
        return (total_y-bracket4)*rate4+(bracket4-bracket3)*rate3+(bracket3-bracket2)*rate2+(bracket2-bracket1)*rate1

In [347]:
# Show results

print('Net Income: ')
print(total_y-inc_tax(total_y))
print(' ')
print('Tax Paid: ') 
print(inc_tax(total_y))
print(' ')
print('Effective Tax Rate: ')
print(inc_tax(total_y)/total_y)

Net Income:
111946.08799560547

Tax Paid:
42042.940568847655

Effective Tax Rate:
0.27302555877382073