In [13]:
# Import relevant data libraries

import pandas as pd
from pathlib import Path
import yfinance as yf

In [14]:
# Set path to transactions csv

crypto_path = Path("Resources/Transactions.csv")

In [15]:
# Read csv into DataFrame

crypto_df = pd.read_csv(crypto_path)

In [16]:
#Review DataFrame

crypto_df

                    Date  Amount Currency Transaction
0  2021-08-07  00:00 UTC       1      BTC         BUY
1  2021-08-08  00:00 UTC       5      ETH         BUY
2  2021-08-08  00:00 UTC      20      SOL         BUY
3  2021-08-11  00:00 UTC      15      SOL        SELL

In [25]:
# Need to load up DataFrame of crypto prices at certain dates - assume closing price

crypto_1 = ['BTC-AUD']

In [28]:
data = yf.download(crypto_1,'2022-01-01','2022-11-18')

display(data)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-12-31,65070.195312,66664.312500,63017.832031,63743.507812,63743.507812,50897092810
2022-01-01,63750.800781,65837.070312,63718.785156,65643.664062,65643.664062,33839466926
2022-01-02,65635.562500,65911.531250,64501.289062,65149.296875,65149.296875,38462701372
2022-01-03,65146.988281,65604.851562,63788.902344,64561.035156,64561.035156,45958352140
2022-01-04,64562.054688,65613.695312,63255.527344,63406.261719,63406.261719,58705250169
...,...,...,...,...,...,...
2022-11-13,25055.509766,25236.037109,24360.212891,24426.220703,24426.220703,40641024416
2022-11-14,24424.224609,25571.593750,23813.523438,24828.853516,24828.853516,74151355021
2022-11-15,24827.785156,25315.394531,24714.902344,24942.746094,24942.746094,54066407302
2022-11-16,24942.341797,25120.214844,24318.552734,24735.566406,24735.566406,50341627692
2022-11-17,24735.886719,24816.412109,24524.865234,24668.603516,24668.603516,49034608640

In [30]:
data = data.drop(columns=['Open','High','Low','Adj Close','Volume'])
data

                   Close
Date
2021-12-31  63743.507812
2022-01-01  65643.664062
2022-01-02  65149.296875
2022-01-03  64561.035156
2022-01-04  63406.261719
...                  ...
2022-11-13  24426.220703
2022-11-14  24828.853516
2022-11-15  24942.746094
2022-11-16  24735.566406
2022-11-17  24668.603516

[322 rows x 1 columns]