In [40]:
# Import relevant data libraries

import pandas as pd
from pathlib import Path
import yfinance as yf
from datetime import datetime,timedelta

In [41]:
# Read csv into DataFrame

transactions_df = pd.read_csv("Resources/Transactions.csv", parse_dates=True, infer_datetime_format=True)

In [42]:
#Review DataFrame

transactions_df.head()

         Date  Amount Currency Transaction
0  2021-08-07       1      BTC         BUY
1  2021-08-08       5      ETH         BUY
2  2021-08-08      20      SOL         BUY
3  2021-08-11      15      SOL        SELL

In [43]:
# Create column to fill in transactions values in AUD

transactions_df['Price'] = 0
transactions_df['Transaction Value (AUD)'] = 0
transactions_df.head()

         Date  Amount Currency Transaction  Price  Transaction Value (AUD)
0  2021-08-07       1      BTC         BUY      0                        0
1  2021-08-08       5      ETH         BUY      0                        0
2  2021-08-08      20      SOL         BUY      0                        0
3  2021-08-11      15      SOL        SELL      0                        0

In [44]:
# Get prices and multiply by amount transacted + fill into table

def get_price(date,currency):
    pair=currency+"-AUD"
    data = yf.download(pair,date,date + timedelta(days=1))
    display(data.iloc[0,4])
    return data.iloc[0,4]

for index, row in transactions_df.iterrows():
    date = datetime.strptime(row["Date"],'%Y-%m-%d')
    currency=row["Currency"]
    amount=row["Amount"]
    price=row["Price"]
    transactions_df.loc[index,"Price"]=get_price(date,currency)
    transactions_df.loc[index,"Transaction Value (AUD)"]=get_price(date,currency)*amount

[*********************100%***********************]  1 of 1 completed

58206.24609375

[*********************100%***********************]  1 of 1 completed

58206.24609375

[*********************100%***********************]  1 of 1 completed

4293.05224609375

[*********************100%***********************]  1 of 1 completed

4293.05224609375

[*********************100%***********************]  1 of 1 completed

53.57883071899414

[*********************100%***********************]  1 of 1 completed

53.57883071899414

[*********************100%***********************]  1 of 1 completed

55.339942932128906

[*********************100%***********************]  1 of 1 completed

55.339942932128906

In [45]:
# Review DataFrame

transactions_df.head()

,Date,Amount,Currency,Transaction,Price,Transaction Value (AUD)
0,2021-08-07,1,BTC,BUY,58206.246094,58206.246094
1,2021-08-08,5,ETH,BUY,4293.052246,21465.261230
2,2021-08-08,20,SOL,BUY,53.578831,1071.576614
3,2021-08-11,15,SOL,SELL,55.339943,830.099144

In [46]:
# Need to change all trades to just ethereum

In [63]:
 # A) When sell amount x - calculate sell transaction value 
    
sale_value = 0

for index, row in transactions_df.iterrows():
    if row['Transaction'] == 'SELL':
        sale_value = row['Transaction Value (AUD)']

sale_value

830.0991439819336

In [64]:
# B) When sell amount x - find purchase value of x from start
        # If transaction is a sell - go through start calculating purchase value depending on amount - multiply sell amount by purchase price from buy (creates transaction value if not full amount)

cost_base = 0 

for index, row in transactions_df.iterrows():
    if row['Transaction'] == 'BUY':
        cost_base = row['Amount']*row['Price']
    
cost_base

1071.5766143798828

In [65]:
# C) Calculate capital gain by step A - B
        # If positive add to taxable gain
        # If negative offset gain

capital_return = sale_value - cost_base

capital_return

-241.47747039794922

In [66]:
# OPTIONAL EXTRA

# D) Is the gain liable for discount
    # If sell date - buy date >365 : minus 50% from gain
    # If sell date - buy date <365 : no action

In [67]:
#E Input taxable income

salary = int(input('Enter taxable income'))

Enter taxable income 100000

In [68]:
# F) Add remainder of gain to taxable income

total_y = salary + capital_return

In [69]:
## Create tax calculator for Australian Tax Brackets

# 2022/23 Australian income tax brackets and tax rates

bracket1=18200
bracket2=45000
bracket3=120000
bracket4=180000
rate1=0.19
rate2=0.325
rate3=0.37
rate4=0.45

In [70]:
# User Input

def inc_tax (total_y):
    '''calculates tax based on income enterd'''
    if total_y<=bracket1:
        return 0
    elif total_y<=bracket2:
        return (total_y-bracket1)*rate1
    elif total_y<=bracket3:
        return (total_y-bracket2)*rate2+(bracket2-bracket1)*rate1
    elif total_y<=bracket4:
        return (total_y-bracket3)*rate3+(bracket3-bracket2)*rate2+(bracket2-bracket1)*rate1
    elif total_y>bracket4:
        return (total_y-bracket4)*rate4+(bracket4-bracket3)*rate3+(bracket3-bracket2)*rate2+(bracket2-bracket1)*rate1

In [71]:
# Show results

print('Net Income: ')
print(total_y-inc_tax(total_y))
print(' ')
print('Tax Paid: ') 
print(inc_tax(total_y))
print(' ')
print('Effective Tax Rate: ')
print(inc_tax(total_y)/total_y)

Net Income:
76870.00270748138

Tax Paid:
22888.519822120667

Effective Tax Rate:
0.229439242299612